p {
  font-size: 20px; /* Set the font size */
  line-height: 3; /* Set the line height */
  margin-bottom: 12px; /* Set the bottom margin */
  color: #ffffff; /* Set the text color */
  text-align: center; 
}

.photos {
  margin-left: 20px;
  margin-right: 20px;
}