@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

main {
    min-width: 100vw;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    overflow-y:hidden;
}

.slogan {
    font-family: 'Cormorant', serif;
    font-weight:500;
    font-size: 40px;
    z-index:2;
    margin-top:40vh;
    color:rgb(229, 229, 229)
}

.landing-img{
    position:fixed;
    z-index:0;
    max-width:50%;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.2s ease-in-out;
    filter: saturate(0.7);
    opacity:0.7;
}
.landing-img:hover{
    opacity:0.9;
}

.landing-img.one{
    top:80px;
    left:60px;
    width:20%;
}

.landing-img.two {
    width:25%;
    left: 150px;
    bottom:100px;
}

.landing-img.three {
    width:20%;
    right: -25px;
    bottom:50px;
}

.landing-img.four {
    width:15%;
    right: 100px;
    top:100px;
}

.landing-img.five {
    width:20%;
    left: 48%;
    bottom:-150px;
}

.auth-con {
    width:100%;
    display:flex;
    justify-content: space-around;
    position:fixed;
}