body{
    background-color: #3a3b3b;
  }
  
  .Login-section{
    margin-top: 150px;
    text-align: center;
  }

  .input-fields{

  }
  
  .form-row1{
    margin-bottom: 15px;
  }
  
  button[type=submit]{
    margin: 0px 10px 10px 10px;
    width: 80px;
  }
  
  input {
    width: 200px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 0px;
    border: 2px solid hsl(196, 11%, 48%)
    /* text-transform: lowercase; */
  }

  input:focus{
    outline: 2px solid #628aa4
  }

  .user-input {
    text-transform: lowercase;
  }
  
  button {
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid hsl(196, 11%, 48%)
    /* box-sizing: border-box; */
  }

  .LoginButton{
    
  }

  .LoginButton:hover{
    background-color: #79a77b;
    transform: scale(1.05)
  }

  .SignUpButton:hover{
    background-color: rgb(84, 84, 217);
    transform: scale(1.05)
  }

  .input-fields p{
    font-weight: bold;
    font-size: 23px;
  }