body{
    background-color: #3a3b3b;
  }
  
  .Login-section{
    margin-top: 150px;
    text-align: center;
  }

  .form-row{
    margin-bottom: 15px;
  }
  
  button[type=submit]{
    margin: 0px 10px 10px 10px;
    width: 80px;
  }
  
  input {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    /* text-transform: lowercase; */
  }

  .user-input {
    text-transform: lowercase;
  }
  
  
  button {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
  }
  