.profile {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photos {
    margin-left: 20px;
    margin-right: 20px;
}

.Post {
    margin-top: 20px;
    background-color: rgb(19, 79, 139);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 50;
}

.Post:hover {
  background-color: rgb(40, 138, 235);
}

.navigation {
    margin-top: 20px;
    width: 100%;
}

.navigate {
    width: 100px;
}