.upload-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins";
  color:rgb(255, 255, 255)
}

.upload-dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.uploaded-files {
  margin-top: 20px;
}

.uploaded-files ul {
  list-style: none;
  padding: 0;
}

.uploaded-files li {
  margin-bottom: 5px;
}

.upload-actions {
  text-align: center;
  margin-top: 20px;
}

