header {
  max-height:30px;
  background-color: 'transparent';
  color: rgb(255, 255, 255);
  padding: 30px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-con{
  display:flex;
  justify-content: space-between;
  max-width:300px;
}

.logo-container {
  color: rgb(255, 255, 255);
}