/* PhotoGallery.css */

.photogallery {
  display:flex;
  flex-wrap: nowrap;
  width:75%;
  max-width:800px;
  margin: 0px auto;
  justify-content: space-between;
  gap: 28px;

}

.photogallery .col{
  max-width:100%;
  min-width:50%;
  display: flex;
  flex-direction: column;
  grid-gap: 0px;
  margin-top:50px;
}

.image-text{
  display: flex;
  flex-direction: column;
}

.vibe-text{
  display: flex;
  flex-direction:row;
  justify-content: left;
  margin-bottom:20px;
  

}
.caption {
  margin:0px;
  line-height:24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size:12.5pt;
  width:100%;
  text-align:left;
  margin-top:12px;
  margin-bottom:5px;
  margin-right: 20px;
  color:rgba(255, 255, 255, 0.708);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.vibes {
  color: rgb(0, 0, 0); /* Black text color */
  background: linear-gradient(48deg, rgb(86, 33, 165) 0%, rgb(61, 91, 227) 100%); /* White background color */
  margin:0px;
  line-height:20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size:12pt;
  text-align:center;
  margin-right:12px;
  color:white;
  border-radius: 25px;
  padding: 5px 12px; /* Optional: Add padding for some space between text and border */
  text-transform: capitalize;
  cursor:default;
}

.col img:hover .caption{
  color:white;
}






.gallery-img-con{
  max-width:100%;
  margin: 0px auto;
  max-width:100%;
  position:relative;
}

.gallery-img-con img {
  width:100%;
  border: 2px solid rgba(255, 255, 255, 0.105);
  object-fit: cover; /* Preserve aspect ratio and cover the entire grid cell */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin:0px;
  margin-top:8px;
}

.gal-del-btn {
  opacity:0;
  position:absolute;
  right:-14px;
  top:-7px;
}

.gallery-img-con:hover .gal-del-btn{
  opacity: 1;
}


