body{
  background-color: #3a3b3b;
}

.login-header{
  margin: auto;
  text-align: center;
}

.Login-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LoginButton{
  margin: auto;
  width: 100px;
}
